  <div class="story">
    <h2>This is a headline fuck yeah.</h3>
    <h4>Subheadline for the fucking win in your face just deal with it everybody.</h4>
    <div class="story-info">
      <div class="author">Shawn Kemp</div>
      <div class="date">2013.13.13 - 13 a.m.</div>
    </div>
    <div class="story-tags">
      <ul>
        <li>#pizza</li>
        <li>#poop</li>
        <li>#basketball</li>
      </ul>
    </div>
    <div class="story-interactions">
      <ul>
        <li>share</li>
        <li>discuss</li>
      </ul>
    </div>
  </div>