<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if page.title || post.title %}{{ page.title || post.title }} | {{ site.title }}{% else %}{{ site.title }} | {{ site.description }}{% endif %}</title>
  <meta name="description" content="{% if page.description || post.description %}{{ page.description || post.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Lora:400,400italic|Open+Sans:300,500,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/bundle.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
</head>
<body>
  <div class="logo-container">
    <div class="logo">
      <img src="{{ site.baseurl }}/img/crtrdg.png">
    </div>
  </div>
  <header>
    <div class="container">
      <nav id="main">
        {% include menu.html %}
      </nav>
    </div>
  </header>
  <div id="main">
    <div class="container">
      <div class="content-wrapper">
        {{ content }}
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <nav>
        {% include menu.html %}
      </nav>
    </div>
  </footer>

  {% include analytics.html %}
</body>
</html>